In [64]:
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
# only approved cases
data20 = pd.read_excel("data/PERM_Disclosure_Data_FY20.xlsx")
data21 = pd.read_excel("data/PERM_Disclosure_Data_FY21.xlsx")
data22 = pd.read_excel("data/PERM_Disclosure_Data_FY22.xlsx")
data23 = pd.read_excel("data/PERM_Disclosure_Data_FY23.xlsx")
data24 = pd.read_excel("data/PERM_Disclosure_Data_FY24.xlsx")

data24.head(5)

,CASE_NUMBER,CASE_STATUS,RECEIVED_DATE,DECISION_DATE,REFILE,ORIG_FILE_DATE,PREVIOUS_SWA_CASE_NUMBER_STATE,SCHD_A_SHEEPHERDER,EMPLOYER_NAME,EMPLOYER_ADDRESS_1,...,FOREIGN_WORKER_ALT_OCC_EXP,FOREIGN_WORKER_EXP_WITH_EMPL,FOREIGN_WORKER_EMPL_PAY_FOR_ED,FOREIGN_WORKER_CURR_EMPLOYED,EMPLOYER_COMPLETED_APPLICATION,PREPARER_NAME,PREPARER_TITLE,PREPARER_EMAIL,EMP_INFO_DECL_NAME,EMP_DECL_TITLE
0,A-23043-00641,Withdrawn,2023-02-12,2023-10-01,N,NaT,NaN,N,"LIBERTY CIVIL CONSTRUCTION, LLC",2937 HERO WAY,...,NaN,Y,Y,N,Y,,NaN,NaN,Brandon F Menjivar Molina,Please help me guys Im still studying and working
1,A-22256-20380,Certified-Expired,2022-09-22,2023-10-02,N,NaT,NaN,N,Siser North America,12900 Hall Road,...,Y,N,N,Y,N,Marshal E Hyman,Attorney,sharonw@marshalhyman.com,Daniele Stocks,HR Business Partner
2,A-22271-30061,Certified-Expired,2022-10-24,2023-10-02,N,NaT,NaN,N,Blend360 LLC,10221 Wincopin Circle,...,Y,N,N,Y,N,Sufen Zhang,Principal,szhang@milesstockbridge.com,Sara B Waire,Immigration Operations Coordinator
3,A-22272-30740,Certified-Expired,2022-10-24,2023-10-02,N,NaT,NaN,N,Blend360 LLC,10221 Wincopin Circle,...,Y,N,N,Y,N,Sufen Zhang,Principal,szhang@milesstockbridge.com,Sara B Waire,Immigration Operations Coordinator
4,A-22185-82932,Certified-Expired,2022-07-26,2023-10-02,N,NaT,NaN,N,AMDOCS INC.,625 MARYVILLE CENTRE DRIVE,...,Y,N,N,Y,N,Warren M Schultz,Attorney,teamEBUcorp@fragomen.com,Priscilla J Craig,Regional Immigration Manager Americas

In [74]:
data20 = data20[['CASE_NUMBER', 'CASE_STATUS', 'EMPLOYER_NAME', 'NAICS_CODE', 'EMPLOYER_NUM_EMPLOYEES', 'COUNTRY_OF_CITIZENSHIP', 'PW_SKILL_LEVEL', 'PW_WAGE']]
data21 = data21[['CASE_NUMBER', 'CASE_STATUS', 'EMPLOYER_NAME', 'NAICS_CODE', 'EMPLOYER_NUM_EMPLOYEES', 'COUNTRY_OF_CITIZENSHIP', 'PW_SKILL_LEVEL', 'PW_WAGE']]
data22 = data22[['CASE_NUMBER', 'CASE_STATUS', 'EMPLOYER_NAME', 'NAICS_CODE', 'EMPLOYER_NUM_EMPLOYEES', 'COUNTRY_OF_CITIZENSHIP', 'PW_SKILL_LEVEL', 'PW_WAGE']]
data23 = data23[['CASE_NUMBER', 'CASE_STATUS', 'EMPLOYER_NAME', 'NAICS_CODE', 'EMPLOYER_NUM_EMPLOYEES', 'COUNTRY_OF_CITIZENSHIP', 'PW_SKILL_LEVEL', 'PW_WAGE']]
data24 = data24[['CASE_NUMBER', 'CASE_STATUS', 'EMPLOYER_NAME', 'NAICS_CODE', 'EMPLOYER_NUM_EMPLOYEES', 'COUNTRY_OF_CITIZENSHIP', 'PW_SKILL_LEVEL', 'PW_WAGE']]
data24

,CASE_NUMBER,CASE_STATUS,EMPLOYER_NAME,NAICS_CODE,EMPLOYER_NUM_EMPLOYEES,COUNTRY_OF_CITIZENSHIP,PW_SKILL_LEVEL,PW_WAGE
0,A-23043-00641,Withdrawn,"LIBERTY CIVIL CONSTRUCTION, LLC",237990,300.0,EL SALVADOR,Level I,17.00
1,A-22256-20380,Certified-Expired,Siser North America,313310,41.0,VENEZUELA,Level II,103979.00
2,A-22271-30061,Certified-Expired,Blend360 LLC,541613,511.0,INDIA,Level II,115461.00
3,A-22272-30740,Certified-Expired,Blend360 LLC,541613,511.0,TURKEY,Level II,115461.00
4,A-22185-82932,Certified-Expired,AMDOCS INC.,541511,3113.0,ISRAEL,NaN,121764.00
...,...,...,...,...,...,...,...,...
92253,A-21175-06722,Denied,VALLEY ALDER FAMILY DENTISTRY,621210,8.0,INDIA,Level II,116293.00
92254,A-22210-97191,Denied,MARHABA RESTAURANT,722511,11.0,EGYPT,NaN,10.33
92255,A-21243-38341,Denied,UBS SECURITIES LLC,523110,20000.0,IRELAND,Level IV,97375.00
92256,A-22187-83701,Certified,Luke Gell Pools LLC,561790,6.0,UNITED KINGDOM,Level III,34466.00
92257,A-21123-81313,Denied,SUPERIOR BREAD CO.,311811,17.0,MACEDONIA,Level IV,32136.00

In [79]:
# filtering certified and certified expired (as they both mean certified)
mask = (data20['CASE_STATUS'] == 'Certified') | (data20['CASE_STATUS'] == 'Certified-Expired') & (data20['EMPLOYER_NUM_EMPLOYEES'] > 10000)
data20 = data20[mask]

mask = (data21['CASE_STATUS'] == 'Certified') | (data21['CASE_STATUS'] == 'Certified-Expired') & (data20['EMPLOYER_NUM_EMPLOYEES'] > 10000)
data21 = data21[mask]

mask = (data22['CASE_STATUS'] == 'Certified') | (data22['CASE_STATUS'] == 'Certified-Expired') & (data20['EMPLOYER_NUM_EMPLOYEES'] > 10000)
data24 = data22[mask]

mask = (data23['CASE_STATUS'] == 'Certified') | (data23['CASE_STATUS'] == 'Certified-Expired') & (data20['EMPLOYER_NUM_EMPLOYEES'] > 10000)
data24 = data23[mask]

mask = (data24['CASE_STATUS'] == 'Certified') | (data24['CASE_STATUS'] == 'Certified-Expired') & (data20['EMPLOYER_NUM_EMPLOYEES'] > 10000)
data24 = data24[mask]

/var/folders/17/7cjczr495wgc7kvz5wdr78vc0000gn/T/ipykernel_76267/1404874646.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data21 = data21[mask]
/var/folders/17/7cjczr495wgc7kvz5wdr78vc0000gn/T/ipykernel_76267/1404874646.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data24 = data24[mask]

In [80]:
# look up the top NAICS
data24['NAICS_CODE'].value_counts().head(10)
# 541511: Custom Computer Programming Services
# 541512: Computer Systems Design Services
# 454111: it is not a valid code (????)
# 511210: it is not a valid code (???)
# 334111: Electronic Computer Manufacturing
# 518120: Computing Infrastructure Providers, Data Processing, Web Hosting, and Related Services
# choices: 541512, 334111, 518120

NAICS_CODE
541511    10267
541512     6282
454111     3862
511210     1914
311615     1594
518210     1528
334111     1396
3344       1279
54151      1195
51121      1159
Name: count, dtype: int64

In [81]:
# 20
group_541512_20 = data_20 = data20.groupby(by='NAICS_CODE').get_group(541512)
group_334111_20 = data_20 = data20.groupby(by='NAICS_CODE').get_group(334111)
group_518120_20 = data_20 = data20.groupby(by='NAICS_CODE').get_group(518210)
print(group_541512_20['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_334111_20['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_518120_20['EMPLOYER_NAME'].value_counts().head(5))

EMPLOYER_NAME
GOOGLE LLC                                       2822
COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION     808
Adobe Inc.                                        285
INTUIT                                            156
CGI TECHNOLOGIES AND SOLUTIONS INC.               113
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
APPLE INC.                      883
CISCO SYSTEMS, INC.             484
NVIDIA CORPORATION              266
HP INC.                          25
CADENCE DESIGN SYSTEMS, INC.     22
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
LINKEDIN CORPORATION             169
ADP TECHNOLOGY SERVICES, INC.     80
DROPBOX, INC.                     21
SPLUNK                            18
ROKU, INC.                        17
Name: count, dtype: int64

In [82]:
# 21
group_541512_21 = data_21 = data21.groupby(by='NAICS_CODE').get_group(541512)
group_334111_21 = data_21 = data21.groupby(by='NAICS_CODE').get_group(334111)
group_518120_21 = data_21 = data21.groupby(by='NAICS_CODE').get_group(518210)
print(group_541512_21['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_334111_21['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_518120_21['EMPLOYER_NAME'].value_counts().head(5))

EMPLOYER_NAME
GOOGLE LLC                             2285
Adobe Inc.                              235
CGI TECHNOLOGIES AND SOLUTIONS INC.     117
HEXAWARE TECHNOLOGIES, INC.              91
SYNOPSYS, INC.                           90
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
APPLE INC.                      919
NVIDIA CORPORATION              399
CISCO SYSTEMS, INC.             216
CADENCE DESIGN SYSTEMS, INC.     66
HP INC.                          32
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
LINKEDIN CORPORATION             83
ADP TECHNOLOGY SERVICES, INC.    77
SPLUNK                           75
AMAZON WEB SERVICES, INC.        56
DROPBOX, INC.                    54
Name: count, dtype: int64

In [83]:
# 22
group_541512_22 = data_22 = data22.groupby(by='NAICS_CODE').get_group(541512)
group_334111_22 = data_22 = data22.groupby(by='NAICS_CODE').get_group(334111)
group_518120_22 = data_22 = data22.groupby(by='NAICS_CODE').get_group(518210)
print(group_541512_22['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_334111_22['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_518120_22['EMPLOYER_NAME'].value_counts().head(5))

EMPLOYER_NAME
GOOGLE LLC                             1781
INTUIT                                  267
Adobe Inc.                              180
CGI TECHNOLOGIES AND SOLUTIONS INC.     135
WAYMO LLC                               105
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
APPLE INC.                      1015
CISCO SYSTEMS, INC.              751
NVIDIA CORPORATION               482
CADENCE DESIGN SYSTEMS, INC.      67
HP INC.                           16
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
LINKEDIN CORPORATION         423
AMAZON WEB SERVICES, INC.    385
FACEBOOK, INC.               222
LinkedIn Corporation         180
SPLUNK                        94
Name: count, dtype: int64

In [84]:
# 23
group_541512_23 = data_23 = data23.groupby(by='NAICS_CODE').get_group(541512)
group_334111_23 = data_23 = data23.groupby(by='NAICS_CODE').get_group(334111)
group_518120_23 = data_23 = data23.groupby(by='NAICS_CODE').get_group(518210)
print(group_541512_23['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_334111_23['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_518120_23['EMPLOYER_NAME'].value_counts().head(5))

EMPLOYER_NAME
GOOGLE LLC                                       4473
COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION    1099
CAPGEMINI AMERICA, INC.                           433
Adobe Inc.                                        269
INTUIT                                            208
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
APPLE INC.                           1232
NVIDIA CORPORATION                    394
CISCO SYSTEMS, INC.                   345
CADENCE DESIGN SYSTEMS, INC.           58
ZT Group Intnl Inc dba ZT Systems      10
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
FACEBOOK, INC.                         460
AMAZON WEB SERVICES, INC.              446
LinkedIn Corporation                   243
META PLATFORMS, INC.                   186
AMAZON DEVELOPMENT CENTER U.S., INC    159
Name: count, dtype: int64

In [85]:
# 24
group_541512_24 = data_24 = data24.groupby(by='NAICS_CODE').get_group(541512)
group_334111_24 = data_24 = data24.groupby(by='NAICS_CODE').get_group(334111)
group_518120_24 = data_24 = data24.groupby(by='NAICS_CODE').get_group(518210)
print(group_541512_24['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_334111_24['EMPLOYER_NAME'].value_counts().head(5))
print("---------------------------------------------------------------------------------------------------")
print(group_518120_24['EMPLOYER_NAME'].value_counts().head(5))

EMPLOYER_NAME
GOOGLE LLC                                       3407
COGNIZANT TECHNOLOGY SOLUTIONS US CORPORATION     764
CAPGEMINI AMERICA, INC.                           274
Adobe Inc.                                        205
INTUIT                                            127
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
APPLE INC.                           803
CISCO SYSTEMS, INC.                  263
NVIDIA CORPORATION                   255
CADENCE DESIGN SYSTEMS, INC.          35
ZT Group Intnl Inc dba ZT Systems      7
Name: count, dtype: int64
---------------------------------------------------------------------------------------------------
EMPLOYER_NAME
AMAZON WEB SERVICES, INC.              336
FACEBOOK, INC.                         257
LinkedIn Corporation                   142
META PLATFORMS, INC.                   124
AMAZON DEVELOPMENT CENTER U.S., INC    108
Name: count, dtype: int64